{%extends 'base.html'%} {%block content%}

<h1>{{current_author.username}}</h1>

<div class="card">
  <div class="card-header">
    <strong>Bio: {{current_author.bio}}</strong>
  </div>
  <div class="card-body" style="font-size: 20px">
    <p class="card-text">Date Joined: {{current_author.date_joined}}</p>
    <p class="card-text">Email: {{current_author.email}}</p>
    <p class="card-text">Email: {{current_author.last_login}}</p>
  </div>  
</div>

<br/> <br/>

<a href="{% url 'home'%}" class="btn btn-secondary">Back</a>
<a href="{% url 'edit_profile' current_author.id %}" class="btn btn-secondary">Edit Profile</a>


{%endblock%}
